* {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid black;

  div {
    border: 2px solid black;
    transition: all 0.3s;
  }

  div:hover {
    cursor: pointer;
  }
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: rgb(248, 145, 163);
}

.orange {
  background-color: orange;
}

.white {
  background-color: white;
}

.btn-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: aliceblue;
    background-color: rgb(22, 20, 20);
    opacity: 0.5;
  }

  button:hover {
    cursor: pointer;
    opacity: 1;
  }
}